<style>
body{
  margin:0;

}


h1{
  background-color:white;
  color:blue;
  text-align:center;
  font-weight:bold;
  height:50px;
}
.nav{
  width:100%;
  background:#000033;
  height:80px;
}
ul{
  list-style:none;
  padding:0;
  margin:0;
  position:absolute;
}
ul li{
  float:left;
  margin-top:20px;

}
ul li a{
  width:140px;
  color:white;
  display:block;
  text-decoration:none;
  font-size:15px;
  text-align:center;
  padding:10px;
  border-radius:10px;
  font-family:Century Gothic;
  font-weight:bold;


}
a:hover{
  background:#669900;
}
ul li ul{
  background:#000033;
}
ul li ul li{
  float:none;

}
ul li ul {
  display:none;
}
ul li:hover ul{
  display:block;
}
#image{
  border:2px solid black;
  padding:200px;
  background: url(registration.png);
  background-repeat:no-repeat;
  background-size: 100% 100%;

}
.footer
{
  background-color:black;
  color:antiquewhite;
  padding:10px;
  text-align: center;
  position:fixed;
  width:100%;
  left:0;
  right:0;
  bottom:0;
}
img{
  float:left;
}

</style>